@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

body {background-color: #fff;}
.mb20 { margin-bottom: 20px; }
hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 {font: 500 normal 2.0em "Roboto",Arial,Verdana,sans-serif; color: #545454; margin-top: 0; line-height: 2.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #545454; margin: 0; padding-bottom: 10px; }

.logo-background {background-color: #323438}
.text-danger {color: #E72D63;}

.search-head {height: 65px; background-color: #fafafa; padding-top: 10px;}
.search-empty {margin: 40px;}

.search-result .thumbnail { border: none;}
.search-result img {height: 120px; width: 120px; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; color: #545454}
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important;}
.search-result h3 > a, .search-result i { color: #02B5C8 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
/*.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
*/
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

.footer {position: absolute;bottom: 0;width: 100%; height: 100px;}
.h-scroll {
    height: 200vh; /* %-height of the viewport */
    position: fixed;
    overflow-y: scroll;
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 100%;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
border: none;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}